*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-red{
    background-color: rgb(171, 49, 49);
    height: 10vh;
}
.media h2{
display: inline-block;
margin:30px;
color: white;
padding-left: 30px;
}
.media input type{
    background-color:transparent;
color: white;

}





nav{
    background-color: rgb(40, 38, 38);
    width: 40%;
    height: 90vh;
}

ul li{
    list-style: none;
}
a{
   margin-top: 30px;
    padding-left: 70px;
    text-decoration: none;
    display: inline-block;
    color:white
}
 .list ul li  :hover{
color: rgb(216, 30, 30);
   background-color: rgba(173, 173, 173, 0.715);
   width: 370px;
   height: 40px;
}

.list2{
display: flex;
gap: 15px;
}
.reqem{
    border-radius: 45px;
    background-color: rgb(215, 51, 51);
    width: 30px;
    height: 20px;
   text-align: center;
}
.image1 img{
    border-radius: 50%;
   
}
.image1{
margin-top: 20px;
}
.image1 p{
    color:white;
}
.image1{
    display:flex;
    gap: 10px;
}
h5{
    color: rgba(240, 248, 255, 0.44);
    margin:6px;
    padding-left: 60px;
}



.image2 img{
    border-radius: 50%;
   
}
.image2{
margin-top: 20px;
}
.image2 p{
    color:white;
}
.image2{
    display:flex;
    gap: 10px;
}
h5{
    color: rgba(240, 248, 255, 0.44);
    margin:6px;
    padding-left: 60px;
}

.image3 img{
    border-radius: 50%;
   
}
.image3{
margin-top: 20px;
}
.image3 p{
    color:white;
}
.image3{
    display:flex;
    gap: 10px;
}
h5{
    color: rgba(240, 248, 255, 0.44);
    margin:6px;
    padding-left: 60px;
}
.valueable{
    color: black;
   
}
.list{
    display: flex;
    
}


.img1 img{
width: 130px;
}
.img1 h3{
    color: black;
}
.img1 h6{
    color: black;
}
.images{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.img1{
    width: 15%;
    margin: 20px;
    position: relative;
}


.bal{
    position: absolute;
    top: 0;
    color: black;
    width: 30px;
    height: 20px;
    border-radius: 45%;
    background-color: rgb(236, 236, 70);
    left: 50px;
}
.bal p{
    display: flex;
    justify-content: center;
}
